* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* background-color: #010213; */
  background-color: #010101;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vmax;
  padding-top: 80px;
}

.sidebar img {
  border-radius: 50%;
  width: 240px;
  height: 237px;
  margin-left: -20px;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
  color: #d2d2d2;
}

.front {
  font-size: 20px;
  margin-top: 10px;
  color: #a4a4a4;
}

.mail {
  letter-spacing: 2px;
  margin-top: 55px;
  color: #a4a4a4;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mailicon {
  color: #a4a4a4;
  font-size: 23px;
}

.mail::before {
  content: "";
  width: 241px;
  position: absolute;
  background-color: #a4a4a4;
  height: 1px;
  margin-top: 60px;
}

.social {
  width: 280px;
  height: 220px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -22px;
  gap: 10px;

}

.socialbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
  border-radius: 15px;
  background-color: #202020;
  transition: 0.2s;
  cursor: pointer;
}

.socialbox:hover {
  position: relative;
  bottom: 3px;
  transition: 0.2s;
  box-shadow: 0 0 0.5px 5px rgb(62, 61, 64);
}

.socialbox a {
  color: #f3f4f7;
  font-size: 40px;
}


.github {
  font-size: 45px;
}


.linked {
  color: #086bce;
  font-size: 40px;
}



@media screen and (max-width:890px) {
  .sidebar {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    display: flex;
    height: auto;

  }

  .sidebar img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
  }

  .contentdocument {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;

  }

  h1 {
    font-size: 40px;
  }

  .front {
    font-size: 25px;
  }

  .mailsocialbox {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    gap: 10px;
    margin: auto;
    width: 100%;
    padding-left: 100px;

  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .content {
    height: 100%;
  }

}

@media screen and (max-width:590px) {
  .sidebar img {
    width: 240px;
    height: 240px;
    margin-left: 10px;
  }

  .sidebar {
    margin-left: -5px;
    margin-top: -30px;
  }

  .contentdocument {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mailsocialbox {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    height: auto;
  }

  h1 {
    margin-left: 10px;
    text-align: center;
    font-size: 25px;
    margin-top: -15px;
  }

  .front {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
  }

  .social {
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    margin-top: 10px;
  }

  .content {
    margin-right: 40px;
  }

}

@media screen and (max-width:590px) {
  .sidebar {
    margin-left: -11px;
  }

}