* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}



.container {
    display: flex;
}

/* ::-webkit-scrollbar {
    width: 3px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #d0d0d0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff;
}

*/